*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: sans;
}

body {
    background-color: oklch(96.7% .003 264.542);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: row;
    background-color: white;
    filter: drop-shadow(0 0 0.15rem lightgray);
    border-radius: 0.35em;
    padding: 1em;
    padding-top: 0.5em;
    margin: 1em;
    max-width: 48em;
    min-width: 48em;
}

.logo {
    max-width: 6em;
    padding: 1em;
}

.icon {
    font-size: 3em;
    padding: 0.25em;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}
